#Copyright © 2020, Oracle and/or its affiliates.
#The Universal Permissive License (UPL), Version 1.0

# DR region for standby (us-phoenix-1, ap-seoul-1, ap-tokyo-1, ca-toronto-1)
dr_region = "<region-name>"

# CIDR block of Standby VCN to be created
dr_vcn_cidr_block = "<vcn-cidr>"

# CIDR block of Primary VCN to be created
vcn_cidr_block = "<vcn-cidr"

# DNS label of VCN to be created
vcn_dns_label = "<vcn-dns-lablel>"

# Object Storage bucker name (will be prefixed by region name)
bucket_display_name = "<bucket-name>"

# Compute shape for bastion server
bastion_server_shape = "<bastion-server-shape>"

# Compute shape for application servers
app_server_shape = "<app-server-shape>"

# Database display name
db_display_name = "<primary-database-display-name>"

# Compute shape for Database server
db_system_shape = "<shape-of-db-compute>"

# DB admin password for database
db_admin_password = "<database-admin-password>"

# shape for Load Balancer
lb_shape = "<load-balancer-shape>"

# Cron schedule for Primary region [this runs every 12 hours]
cron_schedule = "0 */24 * * *"

# Cron schedule for Standby region, this is intentionally commented out as the replication job should run only on servers in primary regio [runs every 12 hours]
dr_cron_schedule = "#0 */6 * * *"

#Cron schedule for taking snapshots of file storage system
snapshot_frequency = "*/60 * * * *"

#Cron schedule for using rsync in standby region replication server to synchronize
data_sync_frequency	= "*/60 * * * *"



